[Unit]
Description=Zookeeper Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/kafka/kafka_2.12-2.5.0/bin/zookeeper-server-start.sh /root/kafka/kafka_2.12-2.5.0/config/zookeeper.properties

[Install]
WantedBy=multi-user.target